web application/DebraEventManagement/DebraEventManagementDesktop/Service References/MemberServiceRefDesktop/MemberServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegisterMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterMemberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableTickets">
        <s:complexType />
      </s:element>
      <s:element name="GetAvailableTicketsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableTicketsResult" type="tns:ArrayOfTicket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTicket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Ticket" nillable="true" type="tns:Ticket" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ticket">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TicketId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="BookTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ticketId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="memberEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookTicketResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableEvents">
        <s:complexType />
      </s:element>
      <s:element name="GetAvailableEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableEventsResult" type="tns:ArrayOfEventData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEventData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EventData" nillable="true" type="tns:EventData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EventData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EventName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EventDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EventTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginMemberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterMemberSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterMember" />
  </wsdl:message>
  <wsdl:message name="RegisterMemberSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterMemberResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableTicketsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableTickets" />
  </wsdl:message>
  <wsdl:message name="GetAvailableTicketsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="BookTicketSoapIn">
    <wsdl:part name="parameters" element="tns:BookTicket" />
  </wsdl:message>
  <wsdl:message name="BookTicketSoapOut">
    <wsdl:part name="parameters" element="tns:BookTicketResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableEventsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableEvents" />
  </wsdl:message>
  <wsdl:message name="GetAvailableEventsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableEventsResponse" />
  </wsdl:message>
  <wsdl:message name="LoginMemberSoapIn">
    <wsdl:part name="parameters" element="tns:LoginMember" />
  </wsdl:message>
  <wsdl:message name="LoginMemberSoapOut">
    <wsdl:part name="parameters" element="tns:LoginMemberResponse" />
  </wsdl:message>
  <wsdl:portType name="MemberServicesSoap">
    <wsdl:operation name="RegisterMember">
      <wsdl:input message="tns:RegisterMemberSoapIn" />
      <wsdl:output message="tns:RegisterMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableTickets">
      <wsdl:input message="tns:GetAvailableTicketsSoapIn" />
      <wsdl:output message="tns:GetAvailableTicketsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BookTicket">
      <wsdl:input message="tns:BookTicketSoapIn" />
      <wsdl:output message="tns:BookTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableEvents">
      <wsdl:input message="tns:GetAvailableEventsSoapIn" />
      <wsdl:output message="tns:GetAvailableEventsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginMember">
      <wsdl:input message="tns:LoginMemberSoapIn" />
      <wsdl:output message="tns:LoginMemberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MemberServicesSoap" type="tns:MemberServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterMember">
      <soap:operation soapAction="http://tempuri.org/RegisterMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableTickets">
      <soap:operation soapAction="http://tempuri.org/GetAvailableTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookTicket">
      <soap:operation soapAction="http://tempuri.org/BookTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableEvents">
      <soap:operation soapAction="http://tempuri.org/GetAvailableEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginMember">
      <soap:operation soapAction="http://tempuri.org/LoginMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberServicesSoap12" type="tns:MemberServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterMember">
      <soap12:operation soapAction="http://tempuri.org/RegisterMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableTickets">
      <soap12:operation soapAction="http://tempuri.org/GetAvailableTickets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookTicket">
      <soap12:operation soapAction="http://tempuri.org/BookTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableEvents">
      <soap12:operation soapAction="http://tempuri.org/GetAvailableEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginMember">
      <soap12:operation soapAction="http://tempuri.org/LoginMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberServices">
    <wsdl:port name="MemberServicesSoap" binding="tns:MemberServicesSoap">
      <soap:address location="http://localhost:64576/MemberServices.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberServicesSoap12" binding="tns:MemberServicesSoap12">
      <soap12:address location="http://localhost:64576/MemberServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>